body {
  background-color: lightblue;
}

.container {
  background-color: rgb(5, 120, 158);
  border-radius: 10px;
  padding: 20px;
  margin: 150px auto;
  box-shadow: 1px 2px 5px #000;
}

.container img {
  width: 20%;
  display: block;
  margin: auto;
}

.delete-btn {
  position: absolute;
  top: 17px;
  right: 15px;
  margin: 0%;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
  margin: 10px 0;
  height: calc(1.5em + 0.75rem + 2px);
  border-radius: 4px;
}

.title {
  text-align: center;
  color: #61dafb;
  font-weight: bold;
  text-transform: uppercase;
}

input,
button {
  margin: 10px 0;
}

.list-group-item {
  margin: 5px 0;
  /* background-color: #0a323d; */
}
